p Current Temp of #{city} is #{currentTemp}
h1 Enter another city
form(class="search" action="/display" method="post")
  input(type="text" name="search" id="search" placeholder="Please Enter city")
  input(type="submit" id="submit" value="Search")