h1= title
p Welcome to #{title}
h1 Enter your city
form(class="search" action="/display" method="post")
  input(type="text" name="search" id="search" placeholder="Please Enter city")
  input(type="submit" id="submit" value="Search")